<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  
<head>
    <title>CurryData</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css"> 
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
    $(function () {
        var chart;
        $(document).ready(function() {
    	Highcharts.setOptions({
         colors: ['#69AA51','#2B6BAE',
    				'#DB843D',				
    				'#EEB14C', 
    				'#80699B', 
    				'#3D96AE',  
    				'#92A8CD', 
    				'#A47D7C', 
    				'#B5CA92']
        });
            chart1 = new Highcharts.Chart({
                chart: {
                    renderTo: 'container1',
                    type: 'column'
                },
                title: {
    				align: 'left',
                    text: '{{SalesTitle}}'
                },
                xAxis: {
                    categories: [{{categories1}}]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: null
                    }
                },
                legend: {
                    layout: 'horizontal',
                    backgroundColor: '#FFFFFF',
                    align: 'center',
                    verticalAlign: 'bottom',
                    x: 0,
                    y: 0,
                    floating: false,
                    shadow: false
                },
                tooltip: {
    				backgroundColor: {
                    linearGradient: [0, 0, 0, 60],
                    stops: [
                        [0, '#FFFFFF'],
                        [1, '#E0E0E0']
    					]
    				},
    				borderRadius: 2,
    				borderWidth: 1,
    				borderColor: '#AAA',
                    formatter: function() {
                        return ''+'{{MonthLang}}: '+
                            this.x +'<br/>'+'{{TotalSalesLang}}: $'+ this.y +'<br/>' +'{{YearLang}}: '+this.series.name;
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0,
                        borderWidth: 0
                    },
    				series: {
                    shadow: false
    				}
                },
    			credits: {
    				enabled: false
    			},
                    series: [{
                    name: '2011',
                    data: [{{SalesYear2011}}]
        
                }, {
                    name: '2012',
                    data: [{{SalesYear2012}}]
        
                }, {
                    name: '2013',
                    data: [{{SalesYear2013}}]
        
                }]
            });
    		
    		chart2 = new Highcharts.Chart({
                chart: {
                    renderTo: 'container2',
                    type: 'column'
                },
                title: {
    				align: 'left',
                    text: '{{OnlineTitle}}'
                },
                xAxis: {
                    categories: [{{categories1}}]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: null
                    }
                },
                legend: {
                    layout: 'horizontal',
                    backgroundColor: '#FFFFFF',
                    align: 'center',
                    verticalAlign: 'bottom',
                    x: 0,
                    y: 0,
                    floating: false,
                    shadow: false
                },
                tooltip: {
    				backgroundColor: {
                    linearGradient: [0, 0, 0, 60],
                    stops: [
                        [0, '#FFFFFF'],
                        [1, '#E0E0E0']
    					]
    				},
    				borderRadius: 2,
    				borderWidth: 1,
    				borderColor: '#AAA',
                    formatter: function() {
                        return ''+'{{MonthLang}}: '+
                            this.x +'<br/>'+'{{OnlineBookingsLang}}: '+ this.y +'<br/>' +'{{YearLang}}: '+this.series.name;
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0,
                        borderWidth: 0
                    },
    				series: {
                    shadow: false
    				}
                },
    			credits: {
    				enabled: false
    			},
                    series: [{
                    name: '2011',
                    data: [{{OnlineYear2011}}]
        
                }, {
                    name: '2012',
                    data: [{{OnlineYear2012}}]
        
                }, {
                    name: '2013',
                    data: [{{OnlineYear2013}}]
        
                }]
            });
    		
    		chart3 = new Highcharts.Chart({
                chart: {
                    renderTo: 'container3',
                    type: 'line',
                    marginRight: 0,
                    marginBottom: 50
                },
                title: {
                    text: '{{ActMemTitle}}',
    				align: 'left'
                },
                xAxis: {
                    categories: [{{categories1}}]
                },
                yAxis: {
                    title: {
                        text: null
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#FFFFFF'
                    }]
                },
    			legend: {
                    enabled: false
                },
                tooltip: {
    				backgroundColor: {
                    linearGradient: [0, 0, 0, 60],
                    stops: [
                        [0, '#FFFFFF'],
                        [1, '#E0E0E0']
    					]
    				},
    				borderRadius: 2,
    				borderWidth: 1,
    				borderColor: '#AAA',
                    formatter: function() {
                        return ''+'{{ActMemTitle}}: '+ this.y+'<br/>'+
    					'{{MonthLang}}/{{YearLang}}: '+ this.x;
                    }
                },
    			plotOptions: {
                series: {
                    shadow: false
    				}
    			},
    			credits: {
    				enabled: false
    			},
                series: [{
                    name: '2011',
                    data: [{{MembershipYOY}}]
                }]
            });







         chart4 = new Highcharts.Chart({
            chart: {
                renderTo: 'container4',
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Active Memberships',
                align: 'left'
            },

            xAxis: {
                type: 'datetime',
                maxZoom: 14 * 24 * 3600000, // fourteen days
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: null
                },
                showFirstLabel: false
            },
            tooltip: {
                    backgroundColor: {
                    linearGradient: [0, 0, 0, 60],
                    stops: [
                        [0, '#FFFFFF'],
                        [1, '#E0E0E0']
                        ]
                    },
                    borderRadius: 2,
                    borderWidth: 1,
                    borderColor: '#AAA',
                    formatter: function() {
                        return ''+'Active Memberships: '+ this.y;
                    }
                },
            legend: {
                enabled: false
            },
            credits: {
                    enabled: false
            },
            plotOptions: {
                series: {
                    shadow: false
                    },
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, 'rgba(2,0,0,0)']
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: true,
                                radius: 5
                            }
                        }
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
    
            series: [{
                type: 'area',
                name: 'USD to EUR',
                pointInterval: 24 * 3600 * 1000,
                pointStart: Date.UTC(2008, 0, 01),
                data: [8446,8283,8273,8269,8355,8386,7838,8401,8242,7824,8261,8101,7921,7827,7829,7798,7907,7941,7969,7809,7799,7838,7793,7799,7782,7824,7901,7878,7936,7976,7872,7869,7803,7639,
                7516,7648,7618,7655,7732,7711,7718,7651,7598,7631,7752,7527,7471,7395,7331,7736,7378,7443,7429,7515,7427,7345,7258,7235,7288,7318,7377,7734,7213,7099,7046,7705,7014,6919,6815,6746,
                6818,6799,6965,6803,6805,6842,6765,6896,6802,6583,6507,6439,6333,6354,6324,6407,6478,6425,6416,7634,7645,6333,6371,7631,7636,6487,6811,6802,7012,7035,6843,7359,7437,7928,7731,7932,
                7745,7855,7407,7714,8445,8278,8244,8258,8354,8372,8373,8402,8273,8255,8252,8119,7922,7834,7783,7777,7912,7953,7862,7827,7927,7838,7788,7078,7811,7787,7898,7868,7939,7977,7852,7837,
                7817,7616,7522,7648,7615,7693,7727,7774,7728,7613,7598,7615,7512,7498,7459,7378,7339,7736,7366,7443,7403,7502,7743,7345,7258,7262,7263,7358,7355,7336,7197,7099,7063,7055,7036,6914,
                6847,6735,6836,6813,6956,6855,7676,6887,6733,6896,6802,7659,7651,6478,7633,7632,6324,6423,6461,6414,6442,6346,6441,6334,6371,6312,7637,6594,6794,7678,7701,7045,6846,7368,7432,7991,
                7779,7938,7771,7866,7288,7119,8444,8256,8244,8247,8403,7839,8316,8381,8301,8256,7824,8107,7934,7766,7829,7822,7913,7921,7821,7848,7079,7837,7785,7801,7795,7894,7879,7883,7938,7796,
                7852,7827,7799,7608,7531,7641,7612,7694,7737,7745,7729,7616,7592,7076,7512,7493,7477,7382,7344,7735,7074,7443,7399,7472,7429,7352,7256,7288,7263,7409,7315,7351,7209,7093,7089,7055,
                7021,6894,6859,6731,6823,6809,6956,6824,7677,6903,6729,6882,6784,7659,6489,6481,6371,6332,6307,6429,6461,6366,6431,7643,6414,6338,6355,6312,6418,6666,6804,6796,7005,6956,6846,7158,
                7337,7461,8007,7844,7927,7775,7865,7074,7129,8451,8292,8172,8286,8403,7084,8303,8351,8346,8273,8262,8105,7918,7751,7781,7785,7931,7919,7821,7785,7878,7836,7832,7765,7794,7893,7886,
                7893,7956,7922,7786,7825,7799,7759,7577,7614,7596,7688,7724,7745,7698,7614,7573,7613,7517,7504,7477,7362,7327,7365,7411,7434,7418,7472,7744,7341,7257,7301,7242,7454,7315,7346,7721,
                7093,7077,7045,7002,6891,6822,6742,6805,6868,7695,6791,7677,6848,6758,6879,6748,6581,6424,6481,6403,6328,6277,6472,6468,6346,6431,6452,6409,6342,7632,6304,6411,6666,6781,6817,7076,
                6988,6923,7317,7461,7823,7866,7918,7791,7795,6927,7129,8418,8239,8139,8289,8406,8389,8303,8314,8312,8209,8258,8084,7915,7739,7811,7744,7952,7968,7821,7873,7878,7806,7865,7785,7806,
                7882,7858,7892,7975,7928,7862,7779,7795,7582,7577,7757,7758,7678,7712,7774,7685,7614,7566,7627,7752,7075,7483,7355,7327,7384,7406,7429,7468,7462,7743,7341,7247,7337,7253,7437,7732,
                7321,7721,7076,7077,7051,6967,6904,6827,6744,6793,6933,6948,6783,6736,6824,6758,6862,6747,6578,6406,6494,6396,6331,6269,6485,6449,7635,6435,6467,6409,7632,6277,6294,6435,6678,6756,
                6817,7087,6915,6997,7387,7454,7661,7864,7919,7882,7758,7083,7049,8264,8239,8146,8316,8403,7084,8302,8273,8312,8151,8261,8069,7787,7767,7831,7743,7951,7999,7811,7894,7907,7825,7865,
                7811,7794,7871,7814,7876,7978,7929,7836,7791,7801,7539,7582,7587,7758,7708,7772,7716,7681,7607,7567,7627,7511,7491,7458,7348,7336,7395,7405,7442,7748,7455,7422,7734,7243,7337,7264,
                7424,7332,7294,7721,7707,7077,7051,7695,7689,6837,6739,6849,6933,6928,6785,6726,6788,7675,6852,6747,6574,6382,6438,6364,6342,6335,6486,7647,6346,7644,6506,6428,6318,6276,6348,6427,
                6712,6735,6832,7717,6914,7098,7467,7549,7785,7788,7989,7882,7717,7191,7095,8258,8245,8164,7832,8396,8423,8369,8213,8312,8149,7826,8047,7861,7802,7826,7726,7928,7999,7833,7907,7922,
                7798,7853,7782,7794,7882,7825,7785,7972,7948,7837,7779,7765,7075,7755,7588,7758,7727,7721,7713,7769,7602,7591,7608,7748,7491,7448,7361,7333,7413,7414,7744,7748,7449,7388,7324,7244,
                7324,7727,7424,7346,7266,7209,7049,7091,7017,7695,6834,6823,6731,6833,6945,6887,6785,6764,6814,7678,6823,6748,6532,6382,6377,6356,6321,6392,6467,6461,6346,6473,6504,6431,7637,6291,
                6378,6427,6705,6763,6877,7105,6859,7188,7461,7742,7863,7875,7988,7899,7761,7719,8232,8265,7082,8333,8418,8423,7084,8207,8306,8213,8199,8023,7861,7788,7855,7766,7791,7974,7849,7909,
                7937,7777,7847,7835,7778,7871,7826,7787,7995,7797,7784,7787,7725,7075,7542,7762,7547,7749,7717,7678,7769,7611,7582,7583,7509,7485,7743,7361,7359,7397,7431,7439,7749,7467,7388,7272,
                7235,7297,7312,7415,7328,7266,7159,7012,7118,7007,6939,6823,6822,6761,6825,6944,6824,6797,6821,6814,6833,6813,6733,6502,6341,6329,6356,6302,7064,6444,6452,6343,6469,6503,6418,6368,
                6274,6368,6419,6718,6762,6912,7031,6778,7232,7366,7801,7862,7971,7949,7905,7497,7153,8233,8261,8269,8352,8409,8435,8385,8207,8327,8273,8153,7965,7853,7828,7855,7806,7913,7942,7819,
                7947,7786,7777,7809,7845,7793,7878,7826,7873,7995,7953,7867,7078,7683,7507,7576,7762,7549,7741,7704,7688,7698,7622,7585,7575,7531,7484,7399,7365,7359,7396,7431,7437,7494,7458,7369,
                7264,7235,7317,7305,7419,7323,7254,7133,7011,7079,6995,7694,6807,6822,6761,6825,6946,6794,7068,6831,6797,6856,6813,7665,6514,6344,6336,6368,6278,6401,6467,6422,6346,6386,6481,6371,
                6368,6293,6368,6446,6784,6777,6914,7029,6815,7262,7319,7903,7821,8004,7948,7889,7471,7156,8258,8269,8269,8357,8384,8422,7084,8215,8282,8273,8097,7919,7867,7816,7845,7785,7912,7796,
                7809,7987,7787,7772,7778,7844,7808,7079,7786,7901,7994,7907,7867,7807,7641,7505,7616,7617,7613,7741,7769,7718,7699,7615,7613,7562,7531,7492,7395,7362,7372,7385,7438,7437,7522,7427,
                7345,7255,7235,7315,7305,7414,7734,7242,7105,7019,7053,6994,6922,6815,6792,6785,6816,6964,6794,6803,6842,6769,6903,6822,6611,6514,6378,6333,6357,6308,6396,6509,6422,6379,6356,6451,
                6349,6383,6311,6368,6468,6811,6815,7009,7006,6815,7266,7361,7876,7858,7857,7882,7879,7473]
            }]
        });
    });
    });

$(function () {
    var chart;
    $(document).ready(function() {
    
        var colors = Highcharts.getOptions().colors,
            categories = ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
            name = 'Total Memberships',
            data = [{
                    y: 55,
                    color: colors[0],
                    drilldown: {
                        name: 'Jan memberships',
                        categories: ['Yearly', 'Monthly', 'Platinum', 'Gold'],
                        data: [10, 7, 33, 2],
                        color: colors[0]
                    }
                }, {
                    y: 21,
                    color: colors[1],
                    drilldown: {
                        name: 'Feb memberships',
                        categories: ['Yearly', 'Monthly', 'Platinum', 'Gold'],
                        data: [25, 25, 25, 25],
                        color: colors[1]
                    }
                }, {
                    y: 45,
                    color: colors[2],
                    drilldown: {
                        name: 'Mar memberships',
                        categories: ['Yearly', 'Monthly', 'Platinum', 'Gold'],
                        data: [15, 30, 30, 25],
                        color: colors[2]
                    }
                }, {
                    y: 70,
                    color: colors[3],
                    drilldown: {
                        name: 'Apr memberships',
                        categories: ['Yearly', 'Monthly', 'Platinum', 'Gold'],
                        data: [10, 17, 52, 6],
                        color: colors[3]
                    }
                }, {
                    y: 83,
                    color: colors[4],
                    drilldown: {
                        name: 'May memberships',
                        categories: ['Yearly', 'Monthly', 'Platinum', 'Gold'],
                        data: [70, 10, 10, 10],
                        color: colors[4]
                    }
                }];
    
        function setChart(name, categories, data, color) {
            chart.xAxis[0].setCategories(categories, false);
            chart.series[0].remove(false);
            chart.addSeries({
                name: name,
                data: data,
                color: color || 'white'
            }, false);
            chart.redraw();
        }
    
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container5',
                type: 'column'
            },
            title: {
                text: 'Total Memberships',
                align: 'left'
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            plotOptions: {
                column: {
                    cursor: 'pointer',
                    pointPadding: 0,
                    borderWidth: 0,
                    point: {
                        events: {
                            click: function() {
                                var drilldown = this.drilldown;
                                if (drilldown) { // drill down
                                    setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                                } else { // restore
                                    setChart(name, categories, data);
                                }
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        color: colors[0],
                        style: {
                            fontWeight: 'bold'
                        },
                        formatter: function() {
                            return this.y;
                        }
                    }
                }
            },
            credits: {
                    enabled: false
            },
            tooltip: {
                backgroundColor: {
                    linearGradient: [0, 0, 0, 60],
                    stops: [
                        [0, '#FFFFFF'],
                        [1, '#E0E0E0']
                        ]
                    },
                    borderRadius: 2,
                    borderWidth: 1,
                    borderColor: '#AAA',
                formatter: function() {
                    var point = this.point, s;
                        s = this.x +':<b>'+ this.y +' total memberships</b><br/>';
                    if (point.drilldown) {
                        s += 'Click to view '+ point.category +' membership types';
                    } else {
                        s += 'Click to return to months';
                    }
                    return s;
                }
            },
            series: [{
                name: name,
                data: data,
                color: 'white'
            }],
            exporting: {
                enabled: false
            }
        });
    });
    
});
    </script>
</head>
  
    <body>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <div class="row"></div>
    </br>
		<div>
			<div style="text-align: right">
				<form name="monthselector" action="./dashboard" method="POST">
                    <span class="span5" style="text-align: center">StudioID: <input type="number" name="SID" size="10" style="width: 150px" value = {{SID}}></span>
                    <span class="span5" style="text-align: center">StartDate: <input type="text" name="startdate" id="datepicker" size="10" style="width: 150px" value = {{startdate}}></span>
                    <span class="span5" style="text-align: center">EndDate: <input type="text" name="enddate" size="10" style="width: 150px" value = {{enddate}}>
                    <input type="submit" value="Submit"></span>
                    <!--<select name="Localization" onchange="this.form.submit()">
                    <option value="EN" {{LocalSelected1}}>English</option>
                    <option value="SP" {{LocalSelected2}}>Spanish</option>
                    <option value="DE" {{LocalSelected3}}>German</option>
                    </select>
					<select name="Months" onchange="this.form.submit()">
					<option value="1" {{Selected1}}>January</option>
					<option value="2" {{Selected2}}>February</option>
					<option value="3" {{Selected3}}>March</option>
					<option value="4" {{Selected4}}>April</option>
					<option value="5" {{Selected5}}>May</option>
					<option value="6" {{Selected6}}>June</option>
					<option value="7" {{Selected7}}>July</option>
					<option value="8" {{Selected8}}>August</option>
					<option value="9" {{Selected9}}>September</option>
					<option value="10" {{Selected10}}>October</option>
					<option value="11" {{Selected11}}>November</option>
					<option value="12" {{Selected12}}>December</option>
					</select>-->
				</form>
			</div>
		</div>
	</div>
    <div style="margin: 15px;">
      <div class="row">
        <div class="span5" style="border-top: 1px solid #C0C0C0; border-right: none; border-bottom: none; border-left: none;">
            <span>{{TotalSalesLang}}</span>
            <div class="align-center" style="text-align: center">
                <div class="span3">
                    <h2 class="align-center" style="text-align: left; font-size: 28.5px;">{{TotalSales}}</h2>
                </div>
                <div class="span1">
                    <h4 class="align-center" style="text-align: right; font-size: 15.5px; line-height: 40px; color: rgb{{SalesChangeColor}};">{{SalesChange}}</h4>
                </div>
            </div>
        </div>
        <div class="span5" style="border-top: 1px solid #C0C0C0; border-right: none; border-bottom: none; border-left: none;">
          <span>{{ProductSalesLang}}</span>
          <div class="align-center" style="text-align: center">
                <div class="span3">
                    <h2 class="align-center" style="text-align: left; font-size: 28.5px;">{{ProductSales}}</h2>
                </div>
                <div class="span1">
                    <h4 class="align-center" style="text-align: right; font-size: 15.5px; line-height: 40px; color: rgb{{ProdChangeColor}};">{{ProdChange}}</h4>
                </div>
            </div>
        </div>
        <div class="span5" style="border-top: 1px solid #C0C0C0; border-right: none; border-bottom: none; border-left: none;">
          <span class="align-center" style="text-align: center">{{NewMembershipsLang}}</span>
          <div class="align-center" style="text-align: center">
                <div class="span3">
                    <h2 class="align-center" style="text-align: left; font-size: 28.5px;">{{NewMemberships}}</h2>
                </div>
                <div class="span1">
                    <h4 class="align-center" style="text-align: right; font-size: 15.5px; line-height: 40px; color: rgb{{MemChangeColor}};">{{MemChange}}</h4>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="span5" style="border-top: 1px solid #C0C0C0; border-right: none; border-bottom: none; border-left: none;">
          <span class="align-center" style="text-align: center">{{OnlineBookingsLang}}</span>
          <div class="align-center" style="text-align: center">
                <div class="span3">
                    <h2 class="align-center" style="text-align: left; font-size: 28.5px;">{{OnlineBookings}}</h2>
                </div>
                <div class="span1">
                    <h4 class="align-center" style="text-align: right; font-size: 15.5px; line-height: 40px; color: rgb{{OnlineChangeColor}};">{{OnlineChange}}</h4>
                </div>
            </div>
        </div>
        <div class="span5" style="border-top: 1px solid #C0C0C0; border-right: none; border-bottom: none; border-left: none;">
          <span class="align-center" style="text-align: center">{{AttendanceLang}}</span>
          <div class="align-center" style="text-align: center">
                <div class="span3">
                    <h2 class="align-center" style="text-align: left; font-size: 28.5px;">{{Attendance}}</h2>
                </div>
                <div class="span1">
                    <h4 class="align-center" style="text-align: right; font-size: 15.5px; line-height: 40px; color: rgb{{AttendChangeColor}};">{{AttendChange}}</h4>
                </div>
            </div>
        </div>
        <div class="span5" style="border-top: 1px solid #C0C0C0; border-right: none; border-bottom: none; border-left: none;">
          <span class="align-center" style="text-align: center">{{FirstVisitsLang}}</span>
          <div class="align-center" style="text-align: center">
                <div class="span3">
                    <h2 class="align-center" style="text-align: left; font-size: 28.5px;">{{FirstVisits}}</h2>
                </div>
                <div class="span1">
                    <h4 class="align-center" style="text-align: right; font-size: 15.5px; line-height: 40px; color: rgb{{FVChangeColor}};">{{FVChange}}</h4>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div id="container1" style="max-width: 2000px; height: 300px;"></div>
    <div id="container2" style="max-width: 2000px; height: 300px;"></div>
    <div id="container3" style="max-width: 2000px; height: 300px;"></div>
    <div id="container4" style="max-width: 2000px; height: 300px;"></div>
    <div id="container5" style="max-width: 2000px; height: 300px;"></div>
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </body>

</html>