<!doctype html>
<html>
  
  <head>
    <title>{{title}} - CurryWiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/themes/slate/bootstrap.min.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="../wiki">CurryWIKI</a>
            <div class="navbar-content">
              <ul class="nav">
                <li class="active">
                  <a href="/wiki/_edit/{{title}}">Edit</a> 
                </li>
                <li class="pull-right">
                  <a href="/wiki/logout">Logout</a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="well">
          <h1>{{title}}</h1>
          <div class="well">
            <p>{{text|safe}}</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </body>

</html>